---
import { Image, imageConfig } from 'astro:assets';
import down from '../../img/down.svg';
---
 
<div class="obertka">
    <div class="front-side">
        <p class="p600-36">Бригады</p>
        <Image src={down} alt="\/" class="img-button" />
    </div>
    <div class="dropdown active">
        <div class="brigada-status">
            <p class="p400-20">Бригада <b>#1</b></p>
            <p class="p400-16">На базе</p>
        </div>
        <div class="brigada-status">
            <p class="p400-20">Бригада <b>#1</b></p>
            <p class="p400-16">На базе</p>
        </div>
        <div class="brigada-status">
            <p class="p400-20">Бригада <b>#1</b></p>
            <p class="p400-16">На базе</p>
        </div>
        <div class="brigada-status">
            <p class="p400-20">Бригада <b>#1</b></p>
            <p class="p400-16">На базе</p>
        </div>
    </div>
</div>
 
<style>
    .p400-20 {
        color: #000;
        font-family: 'Proxima Nova';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
 
    .p400-16 {
        color: #000;
        font-family: 'Proxima Nova';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0.6;
    }
    
    .obertka {
        padding: 14px 16px 16px 16px;
        border-radius: 30px;
        background: #fff;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .p600-36 {
        color: #000;
        font-family: 'Proxima Nova';
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 0;
    }
    .front-side {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 70px;
    }
    .dropdown {
        display: none;
        flex-direction: column;
        gap: 16px;
    }
    .dropdown.active {
        display: flex;
    }
    .brigada-status {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .brigada-status .p400-16 {
        border-radius: 20px;
        background: #e0e0e0;
        width: 100px;
        text-align: center;
        align-items: center;
        padding: 4px 0 4px 0;
    }
</style>
 
<script is:inline>
    const frontSide = document.querySelector('.front-side');
    const down = document.querySelector('.dropdown');
 
    frontSide.addEventListener('click', () => {
        down.classList.toggle('active');
    });
</script>
 
