---

---

<div class="fon ">
    <div class="left-content">
        <a href="tel:+77073737347" class="grid-item" type="button"
        ><p class="p600-18">Связаться с бригадой</p></a
        >
        <a href="/createBrigada" class="grid-item" type="button" id="create-brigade-btn"
        ><p class="p600-18">Создать новую бригаду</p></a
        >
        <a href="/editBrigada" id="editBrigadeButton" class="grid-item" type="button"
        ><p class="p600-18 edit">Редактировать</p></a
        >
        <a href="#!" class="grid-item get-order" type="button"
        ><p class="p600-18">Отправить на вызов</p></a
        >
    </div>
    <div class="right-content footer">
        <p class="p700-36">Бригада #15</p>
        <p class="p400-16">
            Выполняет вызов: <b>Сейфуллина 15А</b>
            <br />
            Категория вызова: <b>2.4</b><br />
            Коментарий: <b>Нарушение ритма сердца</b>
            <br />
        </p>
    </div>
</div>

<style>
    .p700-36 {
        color: #000;
        font-family: "Proxima Nova";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .p600-18 {
        color: #282828;
        text-align: center;
        font-family: "Proxima Nova";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .fon {
        padding: 22px;
        border-radius: 30px;
        background: #fff;

        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .left-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 столбца */
        grid-template-rows: repeat(2, 1fr); /* 2 строки */
        gap: 10px;
    }
    .grid-item {
        padding: 16px 33px 16px;
        border-radius: 10px;
        border: 1px solid #282828;
        background-color: #fff;
        cursor: pointer;
    }

    .get-order {
        border: none;
        background-color: #32d22e;
    }
    .get-order .p600-18 {
        color: #fff;
    }
    .right-content .p700-36 {
        margin-bottom: 10px;
    }
</style>
