---
import { Image, imageConfig } from "astro:assets";
import Menu from "../main/menu.astro";
import Footer from "./footer-info.astro";
import DropDown from "./drop-down.astro";
---

<div class="fluid">
    <div class="container">
        <div class="content">
            <div class="header">
                <Menu />
                <DropDown />
            </div>
            <Footer />
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', function() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'http://localhost:8000/api/brigade/list', true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var brigades = JSON.parse(xhr.responseText);
                renderBrigades(brigades);
            } else {

                console.error(xhr.statusText);
            }
        };
        xhr.send();
    });

    function fetchBrigadeDetails(brigadeId) {
        fetch('http://localhost:8000/api/brigade/show/' + brigadeId)
            .then(response => response.json())
            .then(data => {
                renderBrigadeDetails(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function renderBrigadeDetails(data) {
        var footer = document.querySelector('.footer');
        console.log(footer);

        footer.innerHTML = '';

        var brigadeStatus = document.createElement('div');
        brigadeStatus.classList.add('brigada-status');
        var brigadeNumber = document.createElement('p');
        brigadeNumber.style.fontSize = '36px';
        brigadeNumber.style.fontWeight = 'bold';
        brigadeNumber.textContent = 'Бригада #' + data.board_number;
        var brigadeNumberText = document.createElement('p');
        brigadeNumberText.style.fontSize = '16px';
        brigadeNumberText.textContent = 'Номер планшета: ' + data.brigade_tablet_phone_number;
        var brigadeDriverText = document.createElement('p');
        brigadeDriverText.style.fontSize = '16px';
        brigadeDriverText.textContent = 'Водитель: ' + data.driver.first_name;
        var brigadeFeldsherText = document.createElement('p');
        brigadeFeldsherText.style.fontSize = '16px';
        brigadeFeldsherText.textContent = 'Фельдшер: ' + data.feldsher.first_name;
        var brigadeDoctorText = document.createElement('p');
        brigadeDoctorText.style.fontSize = '16px';
        brigadeDoctorText.textContent = 'Доктор: ' + data.doctor.first_name;

        brigadeStatus.appendChild(brigadeNumber);
        brigadeStatus.appendChild(brigadeNumberText);
        brigadeStatus.appendChild(brigadeDriverText);
        brigadeStatus.appendChild(brigadeFeldsherText);
        brigadeStatus.appendChild(brigadeDoctorText);
        footer.appendChild(brigadeStatus);

        var editBrigadeButton = document.getElementById('editBrigadeButton');
        editBrigadeButton.addEventListener('click', function() {
            window.location.href = '/editBrigada?id=' + data.id;
        });
    }
    function renderBrigades(brigades) {
        var dropdown = document.querySelector('.dropdown');
        dropdown.innerHTML = '';
        brigades.forEach(function(brigade) {
            var brigadeStatus = document.createElement('div');
            brigadeStatus.classList.add('brigada-status');
            var brigadeNumber = document.createElement('p');
            brigadeNumber.classList.add('p400-20');
            brigadeNumber.textContent = 'Бригада #' + brigade.board_number;
            brigadeNumber.addEventListener('click', function() {
                fetchBrigadeDetails(brigade.id);
            });
            var brigadeStatusText = document.createElement('p');
            brigadeStatusText.classList.add('p400-16');
            brigadeStatusText.textContent = brigade.status;
            brigadeStatus.appendChild(brigadeNumber);
            brigadeStatus.appendChild(brigadeStatusText);
            dropdown.appendChild(brigadeStatus);
        });
    }
</script>
<style>
    .content {
        display: flex;
        width: 100%;
        flex-direction: column;
        height: 96vh;
        justify-content: space-between;
    }
    .header {
        margin-top: 26px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
</style>
