---
import Logout from "../main/logout.astro";

import { Image } from "astro:assets";

import menu from "../../img/menu-btn.svg";
import avatar from "../../img/avatar.svg";
import close from "../../img/close-fill.svg";
---

<div id="zatemnenie">
    <div id="okno">
        <div class="menu-content">
            <div class="left-content">
                <Image src={avatar} alt="avatar" />
                <p class="p700-32">Жомарт Омар <br /> Дарханұлы</p>
            </div>
            <div class="right-content">
                <a href="/userPage" class="p400-24"><b>Главная</b></a>
                <a href="/ordersMain" class="p400-24">Мои вызовы</a>
                <a href="/brigadaMain" class="p400-24">Моя бригада</a>
                <a href="tel:+7074792927" class="p400-24">SOS</a>
                <a href="tel:+7477884529" class="p400-24">Связаться с базой</a>
                <div class="under-content">
                    <a href="#" class="psw gray">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                        >
                            <path
                                d="M12.917 13C12.441 15.8377 9.973 18 7 18C3.68629 18 1 15.3137 1 12C1 8.68629 3.68629 6 7 6C9.973 6 12.441 8.16229 12.917 11H23V13H21V17H19V13H17V17H15V13H12.917ZM7 16C9.20914 16 11 14.2091 11 12C11 9.79086 9.20914 8 7 8C4.79086 8 3 9.79086 3 12C3 14.2091 4.79086 16 7 16Z"
                                fill="#969696"></path>
                        </svg>
                        <p class="p700-24 m0">Изменить пароль</p>
                    </a>
                    <Logout />
                    <a class="p700-24" href="/admin">перейти на Admin</a>

                </div>
            </div>
            <a href="#" class="close"> <Image src={close} alt="close" /></a>
        </div>
    </div>
</div>

<a href="#zatemnenie" class="btm-none-dec">
    <Image src={menu} alt="menu" />
</a>

<style>
    .p400-24 {
        color: #000;

        font-family: "Proxima Nova";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        text-align: start;
        text-decoration: none;
        margin: 0;
    }
    .p700-32 {
        color: #282828;
        font-family: "Proxima Nova";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        text-align: start;
        margin: 0;
    }
    .btm-none-dec{
        border: none;
    }

    .m0 {
        margin: 0;
    }
    .psw {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 11px;
        margin: 0;
    }
    .gray {
        color: #969696;
        margin: 0;
    }
    .red {
        color: #ef1e1e;
        margin: 0;
    }
    .okno {
        display: flex;
        z-index: 999;
        background-color: #fff;
    }
    .menu-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 50px;
    }
    .left-content {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .right-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        margin-top: 10px;
    }
    .under-content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 24px;
    }

    #zatemnenie {
        background: rgba(102, 102, 102, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }
    #okno {
        width: 50%;
        height: 50%;
        text-align: center;
        padding: 30px 70px 56px 70px;
        border: none;
        border-radius: 10px;
        position: absolute;
        top: -200px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: #fff;
    }
    #zatemnenie:target {
        display: block;
    }
    .close {
        padding: 0 12px;
        margin: 10px;
        border: none;
        text-decoration: none;
        background: #f2f2f2;
        font-size: 14pt;
        cursor: pointer;
        border-radius: 5px;
    }
</style>
