---
import Menu from "../main/menu.astro";
---

<div class="fluid">
    <div class="container">
        <div class="telo">
            <div class="left-menu">
                <Menu class="menu" />
            </div>
            <div class="content">
                <p class="p700-56">Мои вызовы</p>
                    <!--<p class="p600-20 grid-item">Адрес</p>-->
                    <!--<p class="p600-20 grid-item">Время прибытия</p>-->
                    <!--<p class="p600-20 grid-item">Общее время</p>-->
                    <!--<p class="p600-20 grid-item">Категория</p>-->

                <table class="">
                    <tr>
                        <td class="p700-16">Имя</td>
                        <td class="p700-16">Время прибытия</td>
                        <td class="p700-16">Общее время</td>
                        <td class="p700-16">Категория</td>
                    </tr>
                    <tbody id="usersTableBody" class="p600-20"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', function() {
        const brigade_id = sessionStorage.getItem('brigade_id');
        console.log(brigade_id);
        const xhr = new XMLHttpRequest();
        const url = `http://localhost:8000/api/my_histories/${brigade_id}`;

        xhr.open('GET', url, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var histories = JSON.parse(xhr.responseText);
                console.log(histories.myHistories)
                renderBrigade(histories)
            } else {
                console.error(xhr.statusText);
            }
        };
        xhr.send();
    });

    function renderBrigade(histories) {
        const tableBody = document.getElementById('usersTableBody');
        tableBody.innerHTML = '';
        histories.myHistories.forEach(function(history) {
            const row = document.createElement('tr');

            // Create cells for each field of the call history
            const nameCell = document.createElement('td');
            nameCell.textContent = history.address;

            const arrivalTimeCell = document.createElement('td');
            arrivalTimeCell.textContent = history.arrival_time;

            const generalTimeCell = document.createElement('td');
            generalTimeCell.textContent = history.general_time;

            const categoryCell = document.createElement('td');
            categoryCell.textContent = history.category;

            // Add the created cells to the row
            row.appendChild(nameCell);
            row.appendChild(arrivalTimeCell);
            row.appendChild(generalTimeCell);
            row.appendChild(categoryCell);

            // Add the row to the table
            tableBody.appendChild(row);
        });
    }


</script>

<style>
    .p700-56 {
        color: #323232;
        font-family: "Proxima Nova";
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .p700-16 {
        color: #323232;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 3.2px;
        text-transform: uppercase;
        opacity: 0.7;
    }
    .p600-20 {
        color: #323232;
        font-family: "Proxima Nova";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .telo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-menu {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-top: 20px;
    }
    .content {
        width: 100%;
        margin-top: 50px;
        flex-direction: column;
        display: flex;
        gap: 33px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto; /* Определяет две колонки */
        grid-template-rows: auto auto auto auto; /* Определяет четыре строки */
        padding: 0px; /* Внутренний отступ контейнера сетки */
        border-radius: 10px;

    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        text-align: start;
    }
    
</style>
